.cards {
    max-width: 880px;
    margin: 50px auto 66px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
}


@media screen and (max-width: 767px) {
    .cards {
        margin: 36px auto 48px;
    }
 }